.vicdashboard-container {
    display: flex;
    height: 100vh;
    width: 1530px;
    background-color: #f9f9f9;
  }
  
  .vicsidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .vicsidebar h2 {
    margin-bottom: 20px;
    color: #f0f0f0;
  }
  
  .vicsidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .vicsidebar ul li {
    margin: 15px 0;
    padding: 10px;
    cursor: pointer;
    color: #ddd;
  }
  
  .vicsidebar ul li.active, .vicsidebar ul li:hover {
    background-color: #444;
    color: white;
  }
  
  .vicdashboard-content {
    flex-grow: 1;
    padding: 20px;
  }

  .profile-section {
    padding: 30px;
    width: 100%;
  }
  
  .profile-section h1 {
    margin-bottom: 15px;
  }
  
  .profile-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-field p {
    margin: 0;
    margin-right: 10px;
  }
  
  .profile-field input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .profile-field button {
    padding: 5px 10px;
    background-color: #0c0745;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .profile-field button:hover {
    background-color: #0c0745;
  }


  /* Add these styles to your existing CSS file */

/* .map-container {
  position: relative;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 900px;
} */

.floating-map-container {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 65%;
  height: 55%;
  background: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#map {
  height: calc(100% - 40px);
}


/* .close-map-btn {
  position: absolute;
  width: 60px;
  top: 10px;
  right: 10px;
  z-index: 1000;
  padding: 8px 16px;
  background-color: #b52727;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */

.close-map-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ff4d4f;
  cursor: pointer;
  z-index: 1000;
  transition: color 0.3s;
  background-color: rgb(22, 148, 232);
  border-radius: 10px;
}

.close-map-icon:hover {
  color: #d11a2a;
}


  