.incident-chart canvas{
  margin-top: 440px;
  width: 1510px; /* Adjust as needed */
  height: 405px; /* Adjust as needed */
  margin-bottom: 0px; /* Center the chart horizontally */
  background-color: aliceblue;
  display: block; /* Ensure it is visible */
  visibility: visible;
}
